

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <%= form_for :session, url: session_path, html: {id: 'signInForm'} do |f| %>
            <p>
            <%= f.text_field :user_name, placeholder: 'User Name' %>
            </p>

            <p>
            <%= f.password_field :password, placeholder: 'Password' %>
            </p>

            <p>
            <%= f.submit 'Sign In', id: 'signInSubmit' %>
            </p>
          <% end %>

        <%= render partial: 'sessions/error' %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
