<div class ='container'>

  <div class = 'page-header'>
    <h1>Sign in</h1>
  </div>

  <%= form_for :session, url: session_path do |f| %>
    <p>
    <%= f.text_field :user_name, placeholder: 'User Name' %>
    </p>

    <p>
    <%= f.password_field :password, placeholder: 'Password' %>
    </p>

    <p>
    <%= f.submit 'Sign in' %>
    </p>
  <% end %>

  <%=flash.now[:alert]%>

</div>
