<div class ='container'>

  <div class = 'page-header'>
    <h1>Sign up</h1>
  </div>

  <%= form_for @user, url: user_path do |f| %>
    <p>
    <%= f.text_field :user_name, placeholder: 'User Name' %>
    </p>

    <p>
    <%= f.text_field :first_name, placeholder: 'First Name'%>
    </p>

    <p>
    <%= f.text_field :last_name, placeholder: 'Last Name' %>
    </p>

    <p>
    <%= f.email_field :email, placeholder: 'Email' %>
    </p>

    <p>
    <%= f.password_field :password, placeholder: 'Password' %>
    </p>

    <p>
    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
    </p>

    <p>
    <%= f.submit 'Sign up' %>
    </p>
  <% end %>

  <%=flash.now[:alert]%>

</div>
