<div class ='container'>

  <div class = 'page-header'>
    <h2>Hotels</h2>
  </div>

  <ul class='indexHotel'>
  <% @hotels.each do |hotel| %>
    <li>
      <div class=hotelIndexLeft>
        <%=image_tag("https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{hotel['photo_reference']}&sensor=false&key=#{@key}") %>
      </div>
      <div class=hotelIndexRight>
        Name: <%= hotel['name'] %><br>
        Address: <%= hotel['formatted_address'] %><br>
        Rating: <%= hotel['rating'] %><br>
        <%= link_to('View Hotel', city_hotel_path(@city_id,hotel), class: 'btn btn-success btn-lg', role: 'button') %><br>
    </div>
    </li>
  <% end %>
  </ul>

</div>
