<div class ='container'>

<div class = 'page-header'>
<h2>Hotels</h2>
</div>

<%= render partial: 'hotels_form' %>
<ul>
<% @hotels.each do |hotel| %>
<header><h1 class="display-4"><%= hotel.name %></h1></header>

<p>Address: <%= hotel.formatted_address %></p>
<p>Coordinates: <%= hotel.latitude %> <%= hotel.longitude %></p>

  <p><li>
    Picutre: code
    Name: <%= hotel['name'] %><br>
    Address: <%= hotel['formatted_address'] %><br>
    Rating: <%= hotel['rating'] %><br>
    <%= link_to('View Hotel', city_hotel_path(@city_id,hotel), class: 'btn btn-success btn-lg', role: 'button') %>
  </li></p>
<% end %>
</ul>


</div>
