<div class ='container'>

<div class = 'page-header'>
<h1><%= @hotel['name'] %></h1>
</div>

Add Picture code here<br>
Address: <%= @hotel['formatted_address'] %><br>
Rating: <%= @hotel['rating'] %><br>

<%= link_to('Book Now', @link, class: 'btn btn-success btn-lg', role: 'button' ) %><br>

</div>

<p>
<div id="map" data-place-id='<%=@place_id%>' data-lat="<%= @latitude%>" data-lng="<%= @longitude%>"></div>
</p>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%=@key%>&libraries=places&callback=initMap"></script>
