<div class='left'>
  <%= link_to('Home', months_path, class: 'btn btn-warning btn-lg', role: 'button') %>
  <%= link_to( 'Feeling Lucky?', hotel_path(rand(1650)), class: 'btn btn-success btn-lg', role: 'button') %>

  <% if current_user %>
    <%= link_to( 'Favourites',favourites_path, class: 'btn btn-warning btn-lg',role: 'button') %>
  <% end %>
</div>

<h1 class="app-title">Where_To?</h1>

<div class='right'>
  <% if current_user %>
    <%= link_to( 'Sign out', session_path, method: :delete, class: 'btn btn-danger btn-lg', role: 'button') %>
    <div class='flash'>Welcome, <%= current_user.user_name %>!</div>
  <% else %>
    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#signin">Sign In</button>
    <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#signup">Sign Up</button>
  <% end %>

  <div class='flash'><%= flash[:notice] %></div>
</div>
