<!DOCTYPE html>
<html>
  <head>
    <title>Travelapp</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Welcome <%= current_user.user_name %>
      <%= link_to( 'Sign out', session_path, method: :delete) %>
    <% else %>
      <%= link_to( 'Sign in', new_session_path) %>
      <%= link_to( 'Sign up', new_user_path ) %>
    <% end %>
    <!-- <%= flash[:alert] %> -->
    <%= flash[:notice] %>

    <%= yield %>

  </body>
</html>
